
a.nav {
    display: block;
    font-size: large;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 200;

}

a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: black;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.tab-pane {
    border-width: 1px;
    padding: 0;
}

.main-page {
    border-top: 0cm;
    margin-top: 10%;
}

.tab-content {
    padding: 5%;
    border: 1px solid darkgray;
    border-radius: 0.25rem;
}

.tabs-link {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-pills .nav-link.active{
    color:black;
    border: 1px solid darkgray;
    background-color: transparent;
    margin-left: 1px;
    margin-right: 1px;
}

.block-content {
    margin-bottom: 2rem;
}

li.nav-item.tabs-link {
    margin-right: 1px;
    font-size: large;
    font-weight: 200;
}

li.nav-item.tabs-link:hover {
    text-decoration: underline;
    text-underline-position: under;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
    font-weight: 400;
    text-decoration: none;
}

hr {
    border-style: inset;
}

h2 {
    font-size:x-large;
    margin-block-start: 10%;
    margin-block-end: 0;
    font-weight: 200;
}

h3 {
    margin-block-end: 2%;
    margin-block-start: 0;
}

h4 {
    font-weight: 200;
    font-size: large;
    margin-block-start: 0;
    margin-block-end: 1rem;
    line-height: 2;

}

h5 {
    font-size: small;
    text-transform: uppercase;
    padding: 0;
    margin-block-start: 0em;
    text-decoration: none;
    font-weight: 200;
    margin-block-end: 0;
}

h6 {
    margin-block-end: 0;
    font-weight: 400;
    font-size: large;
    display: block;
    margin-block-start: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size:medium;
    text-decoration: none;
    font-weight: 400;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}


ul {
    margin-block-start: 0;
    list-style-type: circle;
}

