.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


a.nav {
    display: block;
    font-size: large;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 400;

}

a:hover {
    text-decoration: underline;
    text-underline-position: under;
    color: black;
}


.tab-pane {
    border-width: 1px;
    padding: 0;
}

.tab-content {
    padding: 5%;
    border: 1px solid darkgray;
    border-radius: 0.5rem;
    background: white;
    max-height: 45rem;
    overflow: auto;
}

.main-page {
    border-top: 0cm;
    margin-top: 5%;
}

.profile {
    max-width: 15em;
    border: 3px solid darkgray;
}

.tab-content {
    padding: 5%;
    border: 1px solid darkgray;
    border-radius: 0.50rem;
}

.tabs-link {
    margin-top: auto;
    margin-bottom: auto;
}

.nav-pills .nav-link.active {
    color:black;
    border: 1px solid darkgray;
    background-color: transparent;
    margin-left: 1px;
    margin-right: 1px;
}

.block-content {
    margin-bottom: 2em;
}

.card-items {
    padding: 1rem;
}

.card-text-projects {
    min-height: 10rem;
    padding-top: 1rem;
}

.card {
    border: 1px solid darkgray;
    max-width: 19rem;
}

.card-body {
    min-height: 10rem;
}

.card-skills {
    margin: 1rem;
    width: 18rem;
    min-height: 10rem;
}

.project-card {
    width: 22rem; 
    margin: 1rem;
}

.project-img {
    height: 10rem;
}

li.nav-item.tabs-link li.nav-item.tabs-link:active {
    text-decoration: none;
    margin-right: 1px;
    font-size: large;
    font-weight: 400;
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle{
    color: black;
    background-color: transparent;
    border-color: darkgray;
}

.btn-outline-dark {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: transparent;
}

.btn-outline-dark:hover {
    color: black;
    background-color: transparent;
    border-color: darkgray;
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: 0 0 0 0 transparent;
    border-color: darkgray;
}

li.nav-item.tabs-link:hover {
    text-decoration: underline;
    text-underline-position: under;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: whitesmoke;
    
}



a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
}

hr {
    border-style: inset;
}

h2 {
    font-size:x-large;
    margin-block-start: 0;
    margin-block-end: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

h3 {
    margin-block-end: 2%;
    margin-block-start: 0;
}

h4 {
    font-weight: 400;
    font-size: large;
    margin-block-start: 0;
    margin-block-end: 1rem;
    line-height: 2;

}

h5 {
    font-size: small;
    text-transform: uppercase;
    padding: 0;
    margin-block-start: 0em;
    text-decoration: none;
    font-weight: 400;
    margin-block-end: 0em;
    line-height: 1.5;
}

h6 {
    margin-block-end: 0;
    font-weight: 600;
    font-size: large;
    display: block;
    margin-block-start: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size:medium;
    text-decoration: none;
    font-weight: 600;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    font-weight:400;
}


ul {
    margin-block-start: 0;
    list-style-type: circle;
}

